body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  width: 100%; /* Pastikan body memiliki lebar penuh */
}

.container {
  padding-left: 0; /* Hapus padding kiri */
  padding-right: 0; /* Hapus padding kanan */
}

#header > .container {
  margin: 0px;
  display: flex;
  position: relative;
  background-image: url("./images/bg-header.jpg");
  background-blend-mode: overlay;
  background-color: #1a51ba;
  justify-content: center;
  width: 100%;
  height: 720px;
}

.text-header {
  position: absolute;
  top: 30%;
  justify-content: center;
  text-align: center;
  color: #c7ffd8;
}

.title {
  position: relative;
  font-size: 4rem;
  font-family: "Poppins Regular", sans-serif;
  text-shadow: 30px 20px 30px #323232;
  margin-bottom: 0px;
}

.subtitle {
  position: relative;
  font-size: 2rem;
  margin-top: 0px;

  font-family: "Chaparral Pro Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Chaparral Pro Regular"),
    url("ChaparralPro-Regular.woff") format("woff");
}

.rocket-image {
  width: 8%;
  position: absolute;
  right: 150px;
  bottom: 80px;
}

#profile > .container {
  display: flex;
  position: relative;
  background-color: #c7ffd8;
  justify-content: center;
  width: 100%;
  height: 720px;
}

.profile-picture {
  width: 20%;
}

.cloud {
  display: inline-flex;
  position: absolute;
  width: 200px;
  height: 120px;
}

.cloud-1 {
  display: block;
  position: absolute;
  top: 30px;
  right: 80px;
}

.cloud-2 {
  position: absolute;
  top: 200px;
  left: 50px;
}

.profile-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-opening {
  text-align: center;
  color: #1a51ba;
  justify-content: center;
  align-items: center;
}

.text-1 {
  font-size: 4rem;
  font-family: "Poppins Regular", sans-serif;
  margin-top: 20px;
  margin-bottom: 0px;
}

.text-2 {
  color: black;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 2rem;
  font-family: "Chaparral Pro Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Chaparral Pro Regular"),
    url("ChaparralPro-Regular.woff") format("woff");
}

.cloud-3 {
  position: absolute;
  bottom: 50px;
  right: 80px;
}

#skills > .container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #84dfa0;
  height: auto;
  padding: 50px 0;
}

.skills-set {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Membuat setiap skill tetap berada di atas */
  gap: 200px; /* Jarak antar skill */
  width: 100%;
  max-width: 1200px;
  flex-wrap: wrap; /* Agar item bisa turun ke baris berikutnya di layar kecil */
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 500px;
}

.skill img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}

.skill-title {
  font-size: 4rem;
  font-family: "Poppins Regular", sans-serif;
  color: #1a51ba;
  margin-bottom: 10px;
}

.skb {
  font-size: 1.5rem;
  color: #333;
  line-height: 1.5;
  margin: 0;
}

.skt {
  font-size: 2rem;
}
